.panda-bg-info{
    background-color: #fceae8;
}
.panda-btn-primary{
    background-color: 
    #ff1f76;
}
.panda-bg-warning-1{
    background-color: #ffa500;
}
.panda-bg-warning-2{
    background-color:#da70d6;
}
.panda-bg-warning-3{
    background-color:#00f ;
}
.categories img{
    width: 100px;
}